
footer{
    background-color: white;
    font-weight: 300;
    padding: 2em;
    text-align: center;
    align-items: center;
}

.bottom-bar{
    background-color: orange;   
    padding: 1em 5em;
    font-size: 1em;
    color: black;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center!important;
    align-items: center;
    line-height: 75px;
    font-size: 30px;
}

.footer-img{
    height: 60px;
    width: 60px
}
